html{
    background-image: url('../img/2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    background-color: hsla(0,0%,100%,0.40);
    background-blend-mode: overlay;

}
body {
    height: 100%;
    width: 100%;
   
}



/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {

    .inner-bg { padding: 60px 0 110px 0; }

}

@media (max-width: 415px) {

    h1, h2 { font-size: 32px; }

}

