html{
    background-image: url('../img/2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .3);
}



/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {

    .inner-bg { padding: 60px 0 110px 0; }

}

@media (max-width: 415px) {

    h1, h2 { font-size: 32px; }

}

