<!DOCTYPE html>
<html lang="en">

    <head>

    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type = "text/css" href="../materialize/css/materialize.min.css">
        <link rel="stylesheet" type = "text/css" href="../assets/css/barraProgresso.css">

    </head>

    <body>

        <main>

            <nav class="nav-extended teal lighten-1">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo right">Ficha de atendimento de genética clínica</a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sobre</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li><a href="#">X</a></li>
                        <li><a href="#">Y</a></li>
                        <li><a href="#">Z</a></li>
                    </ul>
                </div>
                <div class="nav-content">
                    <ul class="tabs tabs-transparent">
                        <li class="tab"><a href="#test1">Identificação</a></li>
                        <li class="tab"><a class="active" href="#test2">Historia Gestacional e Neonatal</a></li>
                        <li class="tab disabled"><a href="#test3">Evolução Neuropsicomotora</a></li>
                        <li class="tab"><a href="#test4">História Familiar</a></li>
                    </ul>
                </div>
            </nav>

            <div class="container" id="teste1">

                <div class="z-depth-1 grey lighten-4 row" >

                    <form class="col s12">
                        <div class="row">




                            <div class="row">

                                <div class="input-field col s3">

                                    <input id="Gesta" type="number" class="validate">
                                    <label class="black-text" for="Gesta" >Gesta</label>
                                </div>
                                <div class="input-field col s3">

                                    <input id="Para" type="number" class="validate">
                                    <label class="black-text" for="Para">Para</label>
                                </div>
                                <div class="input-field col s3">
                                    <input id="cesaria" type="number" class="validate">
                                    <label class="black-text" for="cesaria">Cesaria</label>
                                </div>
                                <div class="input-field col s3">
                                    <input id="abortoEspontaneo" type="number" class="validate">
                                    <label class="black-text" for="abortoEspontaneo">Aborto espontaneo</label>
                                </div>

                            </div>
                            <div class="row">
                                <div class="input-field col s3">
                                    <input id="abortoProvocado" type="number" class="validate">
                                    <label class="black-text" for="abortoProvocado">Aborto provocado</label>
                                </div>

                                <div class="input-field col s3">
                                    <input id="gestaEctopica" type="number" class="validate">
                                    <label class="black-text" for="gestaEctopica">Gestação Ectopica</label>
                                </div>
                                <div class="col s3">
                                    <p>
                                        <input type="checkbox" id="preNatal" />
                                        <label class="black-text" for="preNatal">Realizou Pré Natal?</label>
                                    </p>
                                </div>
                                <div class="col s3">
                                    <p>
                                        <input type="checkbox" id="examesPreNatal" />
                                        <label class="black-text" for="examesPreNatal">Fez Exames Pré Natal?</label>
                                    </p>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col s3">
                                    <p>
                                        <input type="checkbox" id="ameacaAborto" />
                                        <label class="black-text" for="ameacaAborto">Teve Ameaças de Aborto?</label>
                                    </p>
                                </div>
                                <div class="input-field col s4">
                                    <input id="numeroAmeacasAborto" type="number" class="validate">
                                    <label class="black-text" for="numeroAmeacasAborto">Numero de ameaças de aborto</label>
                                </div> 
                                <div class="col s5">
                                    <div class="col">
                                        <p>
                                            <input type="checkbox" id="primeiroMesAB" />
                                            <label class="black-text" for="primeiroMesAB">Primeiro mês</label>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <input type="checkbox" id="segundoMesAB" />
                                            <label class="black-text" for="segundoMesAB">Segundo mês</label>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <input type="checkbox" id="terceiroMesAB" />
                                            <label class="black-text" for="terceiroMesAB">Terceiro mês</label>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <input type="checkbox" id="quartoMesAB" />
                                            <label class="black-text" for="quartoMesAB">Quarto mês</label>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <input type="checkbox" id="QuintoMesAB" />
                                            <label class="black-text" for="QuintoMesAB">Quinto mês    </label>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <input type="checkbox" id="naoSeiMesAB" />
                                            <label class="black-text" for="naoSeiMesAB">Não sei</label>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row listaDoencaAgudaCronica">

                                <div class="col s4">
                                    <p>
                                        <input type="checkbox" id="doencasAgCro" />
                                        <label class="black-text" for="doencasAgCro">Doenças Agudas ou crônicas</label>
                                    </p>
                                </div>
                                <div class="input-field col s6 inputDoencaAgudaCronica" >
                                    <input id="dsDoencaAgCro" type="text" class="validate">
                                    <label class="black-text" for="dsDoencaAgCro">Nome Doença Aguda ou Crônica</label>                                   
                                </div>
                                <a class="btn-floating btn-flat waves-effect waves-light teal right-align" onclick="addNomeDoencaAgudaCronica();">
                                    <i class="material-icons">add</i>
                                </a>
                            </div>
                            <div class="row">

                                <div class="col s4">
                                    <p>
                                        <input type="checkbox" id="usoMedicamento" />
                                        <label class="black-text" for="usoMedicamento">Fez uso de Medicamento durante a gestação?</label>
                                    </p>
                                </div>
                            </div>



                            <div class="row">
                                <div class="listaMedicamento " style="display: none;">
                                    <div class="medicamento">
                                        <div class="row  teal lighten-4">
                                            <div class="input-field col s5">
                                                <i class="material-icons prefix">textsms</i>
                                                <input type="text" id="autocomplete-input" class="autocomplete">
                                                <label class="black-text" for="autocomplete-input">Nome do medicamento</label>

                                            </div>

                                            <div class="input-field col s5" >
                                                <input id="medicamentoDescricao" type="text" class="validate">
                                                <label class="black-text" for="medicamentoDescricao">Forma de uso e posologia</label>                                   
                                            </div>

                                            <a class="btn-floating btn-flat waves-effect waves-light teal right-align" onclick="addMedicamento();">
                                                <i class="material-icons">add</i>
                                            </a>
                                        </div>

                                        <div class="row mesesUsoMedicamento  teal lighten-4" style="display: none;">
                                            <div class="col s2">
                                                <p>
                                                    <input type="checkbox" id="primeiroMesMedicamentoGestacaoUso" />
                                                    <label class="black-text" for="primeiroMesMedicamentoGestacaoUso">Primeiro mês</label>
                                                </p>
                                            </div>
                                            <div class="col s2">
                                                <p>
                                                    <input type="checkbox" id="segundoMesMedicamentoGestacaoUso" />
                                                    <label class="black-text" for="segundoMesMedicamentoGestacaoUso">Segundo mês</label>
                                                </p>
                                            </div>
                                            <div class="col s2">
                                                <p>
                                                    <input type="checkbox" id="terceiroMesMedicamentoGestacaoUso" />
                                                    <label class="black-text" for="terceiroMesMedicamentoGestacaoUso">Terceiro mês</label>
                                                </p>
                                            </div>
                                            <div class="col s2">
                                                <p>
                                                    <input type="checkbox" id="quartoMesMedicamentoGestacaoUso" />
                                                    <label class="black-text" for="quartoMesMedicamentoGestacaoUso">Quarto mês</label>
                                                </p>
                                            </div>
                                            <div class="col s2">
                                                <p>
                                                    <input type="checkbox" id="quintoMesMedicamentoGestacaoUso" />
                                                    <label class="black-text" for="quintoMesMedicamentoGestacaoUso">Quinto mês</label>
                                                </p>
                                            </div>
                                            <div class="col s2">
                                                <p>
                                                    <input type="checkbox" id="sextoMesMedicamentoGestacaoUso" />
                                                    <label class="black-text" for="sextoMesMedicamentoGestacaoUso">Sexto mês</label>
                                                </p>
                                            </div>
                                            <div class="col s2">
                                                <p>
                                                    <input type="checkbox" id="setimoMesMedicamentoGestacaoUso" />
                                                    <label class="black-text" for="setimoMesMedicamentoGestacaoUso">Sétimo mês</label>
                                                </p>
                                            </div>
                                            <div class="col s2">
                                                <p>
                                                    <input type="checkbox" id="oitavoMesMedicamentoGestacaoUso" />
                                                    <label class="black-text" for="oitavoMesMedicamentoGestacaoUso">Oitavo mês</label>
                                                </p>
                                            </div>
                                            <div class="col s2">
                                                <p>
                                                    <input type="checkbox" id="nonoMesMedicamentoGestacaoUso" />
                                                    <label class="black-text" for="nonoMesMedicamentoGestacaoUso">Nono mês</label>
                                                </p>
                                            </div>
                                            <div class="col s2">
                                                <p>
                                                    <input type="checkbox" id="naoSeiMesMedicamentoGestacaoUso" />
                                                    <label class="black-text" for="naoSeiMesMedicamentoGestacaoUso">Não sei</label>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col">
                                    <p>
                                        <input type="checkbox" id="usoDrogasIlicitas" />
                                        <label class="black-text" for="usoDrogasIlicitas">Uso de Drogas Ilícitas</label>
                                    </p>
                                </div> 
                            </div>
                            <div class="row">
                                <div class="listaDroga" style="display: none;">
                                    <div class="droga">
                                        <div class="row  teal lighten-4">
                                            <div class="input-field col s5">
                                                <i class="material-icons prefix">textsms</i>
                                                <input type="text" id="autocomplete-input" class="autocomplete">
                                                <label class="black-text" for="autocomplete-input">Nome da droga</label>

                                            </div>

                                            <div class="input-field col s5" >
                                                <input id="drogaDescricao" type="text" class="validate">
                                                <label class="black-text" for="drogaDescricao">Forma de uso e quantidade</label>                                   
                                            </div>

                                            <a class="btn-floating btn-flat waves-effect waves-light teal right-align" onclick="addDroga();">
                                                <i class="material-icons">add</i>
                                            </a>
                                        </div>
                                        <div class="row mesesUsoDroga  teal lighten-4" style="display: none;">
                                            <div class="col s2">
                                                <p>
                                                    <input type="checkbox" id="primeiroMesDrogaUso" />
                                                    <label class="black-text" for="primeiroMesDrogaUso">Primeiro mês</label>
                                                </p>
                                            </div>
                                            <div class="col s2">
                                                <p>
                                                    <input type="checkbox" id="segundoMesDrogaUso" />
                                                    <label class="black-text" for="segundoMesDrogaUso">Segundo mês</label>
                                                </p>
                                            </div>
                                            <div class="col s2">
                                                <p>
                                                    <input type="checkbox" id="terceiroMesDrogaUso" />
                                                    <label class="black-text" for="terceiroMesDrogaUso">Terceiro mês</label>
                                                </p>
                                            </div>
                                            <div class="col s2">
                                                <p>
                                                    <input type="checkbox" id="quartoMesDrogaUso" />
                                                    <label class="black-text" for="quartoMesDrogaUso">Quarto mês</label>
                                                </p>
                                            </div>
                                            <div class="col s2">
                                                <p>
                                                    <input type="checkbox" id="quintoMesDrogaUso" />
                                                    <label class="black-text" for="quintoMesDrogaUso">Quinto mês</label>
                                                </p>
                                            </div>
                                            <div class="col s2">
                                                <p>
                                                    <input type="checkbox" id="sextoMesDrogaUso" />
                                                    <label class="black-text" for="sextoMesDrogaUso">Sexto mês</label>
                                                </p>
                                            </div>
                                            <div class="col s2">
                                                <p>
                                                    <input type="checkbox" id="setimoMesDrogaUso" />
                                                    <label class="black-text" for="setimoMesDrogaUso">Sétimo mês</label>
                                                </p>
                                            </div>
                                            <div class="col s2">
                                                <p>
                                                    <input type="checkbox" id="oitavoMesDrogaUso" />
                                                    <label class="black-text" for="oitavoMesDrogaUso">Oitavo mês</label>
                                                </p>
                                            </div>
                                            <div class="col s2">
                                                <p>
                                                    <input type="checkbox" id="nonoMesDrogaUso" />
                                                    <label class="black-text" for="nonoMesDrogaUso">Nono mês</label>
                                                </p>
                                            </div>
                                            <div class="col s2">
                                                <p>
                                                    <input type="checkbox" id="naoSeiMesDrogaUso" />
                                                    <label class="black-text" for="naoSeiMesDrogaUso">Não sei</label>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s2">
                                <p>
                                    <input type="checkbox" id="fumo" />
                                    <label class="black-text" for="fumo">Fumante</label>
                                </p>
                            </div>

                            <div class="input-field col s4 descricaoFumo" style="display: none">

                                <input type="text" id="descricaoFumo" class="validate">
                                <label class="black-text" for="descricaoFumo">Descricao do uso do fumo</label>

                            </div>
                            <div class="col s2">
                                <p>
                                    <input type="checkbox" id="alcool" />
                                    <label class="black-text" for="alcool">Uso de Alcool</label>
                                </p>
                            </div>
                            <div class="input-field col s4 descricaoAlcool" style="display: none">

                                <input type="text" id="descricaoAlcool" class="validate">
                                <label class="black-text" for="descricaoAlcool">Descricao do uso do alcool</label>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col s2">
                                <p>
                                    <input type="checkbox" id="ultrasonografias" />
                                    <label class="black-text" for="ultrasonografias">Realizou ultrasonografias</label>
                                </p>
                            </div>

                        </div>
                        <div class="row listaUltrassonografias" style="display: none">
                            <div class="row">
                                <div class="col s4">
                                    <p>
                                        <input type="checkbox" id="rastreioPrimeiroTrimestre" />
                                        <label class="black-text" for="rastreioPrimeiroTrimestre">Rastreio de Primeiro Trimestre</label>
                                    </p>
                                </div>

                                <div class="input-field col s4" >

                                    <input type="number" id="rastreioPrimeiroTrimestreQuantidade" class="validate">
                                    <label class="black-text" for="rastreioPrimeiroTrimestreQuantidade">Numero de vezes que realizou</label>

                                </div>

                                <div class="col s4">
                                    <p>
                                        <input type="checkbox" id="rastreioPrimeiroTrimestreAlterado" />
                                        <label class="black-text" for="rastreioPrimeiroTrimestreAlterado">Resultado Alterado</label>
                                    </p>
                                </div>
                                <div class="input-field col s12" >
                                    <textarea id="rastreioPrimeiroTrimestreDsAlterado" class="materialize-textarea"></textarea>
                                    <label class="black-text" for="rastreioPrimeiroTrimestreDsAlterado">Descricao da alteracao</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s3">
                                    <p>
                                        <input type="checkbox" id="ecoObstetricaTrimestre" />
                                        <label class="black-text" for="ecoObstetricaTrimestre">Ecografia Obstetrica </label>
                                    </p>
                                </div>

                                <div class="input-field col s3" >

                                    <input type="number" id="ecoObstetricaQuantidade" class="validate">
                                    <label class="black-text" for="ecoObstetricaQuantidade">Numero de vezes que realizou</label>

                                </div>

                                <div class="col s2">
                                    <p>
                                        <input type="checkbox" id="ecoObstetricaAlterado" />
                                        <label class="black-text" for="ecoObstetricaAlterado">Resultado Alterado</label>
                                    </p>
                                </div>
                                <div class="input-field col s4" >

                                    <input type="text" id="ecoObstetricaDsAlterado" class="validate">
                                    <label class="black-text" for="ecoObstetricaDsAlterado">Descricao da alteracao</label>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col s3">
                                    <p>
                                        <input type="checkbox" id="ecoMorfologicaTrimestre" />
                                        <label class="black-text" for="ecoMorfologicaTrimestre">Ecografia Morfologica </label>
                                    </p>
                                </div>

                                <div class="input-field col s3" >

                                    <input type="number" id="ecoMorfologicaQuantidade" class="validate">
                                    <label class="black-text" for="ecoMorfologicaQuantidade">Numero de vezes que realizou</label>

                                </div>

                                <div class="col s2">
                                    <p>
                                        <input type="checkbox" id="ecoMorfologicaAlterado" />
                                        <label class="black-text" for="ecoMorfologicaAlterado">Resultado Alterado</label>
                                    </p>
                                </div>
                                <div class="input-field col s4" >

                                    <input type="text" id="ecoMorfologicaDsAlterado" class="validate">
                                    <label class="black-text" for="ecoMorfologicaDsAlterado">Descricao da alteracao</label>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col s3">
                                    <p>
                                        <input type="checkbox" id="ecocardioFetalTrimestre" />
                                        <label class="black-text" for="ecocardioFetalTrimestre">Ecocardiografia Fetal </label>
                                    </p>
                                </div>

                                <div class="input-field col s3" >

                                    <input type="number" id="ecocardioFetalQuantidade" class="validate">
                                    <label class="black-text" for="ecocardioFetalQuantidade">Numero de vezes que realizou</label>

                                </div>

                                <div class="col s2">
                                    <p>
                                        <input type="checkbox" id="ecocardioFetalAlterado" />
                                        <label class="black-text" for="ecocardioFetalAlterado">Resultado Alterado</label>
                                    </p>
                                </div>
                                <div class="input-field col s4" >

                                    <input type="text" id="ecocardioFetalDsAlterado" class="validate">
                                    <label class="black-text" for="ecocardioFetalDsAlterado">Descricao da alteracao</label>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col s3">
                                    <p>
                                        <input type="checkbox" id="resMagFetalTrimestre" />
                                        <label class="black-text" for="resMagFetalTrimestre">Ressonancia Magnetica Fetal </label>
                                    </p>
                                </div>

                                <div class="input-field col s3" >

                                    <input type="number" id="resMagFetalQuantidade" class="validate">
                                    <label class="black-text" for="resMagFetalQuantidade">Numero de vezes que realizou</label>

                                </div>

                                <div class="col s2">
                                    <p>
                                        <input type="checkbox" id="resMagFetalAlterado" />
                                        <label class="black-text" for="resMagFetalAlterado">Resultado Alterado</label>
                                    </p>
                                </div>
                                <div class="input-field col s4" >

                                    <input type="text" id="resMagFetalDsAlterado" class="validate">
                                    <label class="black-text" for="resMagFetalDsAlterado">Descricao da alteracao</label>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col s3">
                                    <p>
                                        <input type="checkbox" id="ecoTridimensionalTrimestre" />
                                        <label class="black-text" for="ecoTridimensionalTrimestre">Ecografia Tridimensional </label>
                                    </p>
                                </div>

                                <div class="input-field col s3" >

                                    <input type="number" id="ecoTridimensionalQuantidade" class="validate">
                                    <label class="black-text" for="ecoTridimensionalQuantidade">Numero de vezes que realizou</label>

                                </div>

                                <div class="col s2">
                                    <p>
                                        <input type="checkbox" id="ecoTridimensionalAlterado" />
                                        <label class="black-text" for="ecoTridimensionalAlterado">Resultado Alterado</label>
                                    </p>
                                </div>
                                <div class="input-field col s4" >

                                    <input type="text" id="ecocardioFetalDsAlterado" class="validate">
                                    <label class="black-text" for="ecocardioFetalDsAlterado">Descricao da alteracao</label>

                                </div>
                            </div>
                        </div>  
                        <div class='row'>
                            <div class="col s4 offset-s4">

                                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect teal'>Salvar
                                    <i class="material-icons right">send</i></button>
                            </div>
                        </div>

                    </form>



                </div>
            </div>


        </center>


    </main>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="../assets/js/identificacao.js"></script>
    <script type='text/javascript'>
        $(document).ready(function () {
            $('input.autocomplete').autocomplete({
                data: {
                    "paracetamol": null,
                    "dipirona": null,
                    "tamiflu": 'http://placehold.it/250x250'
                },
                limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
                onAutocomplete: function (val) {
                    // Callback function when value is autcompleted.
                },
                minLength: 2, // The minimum length of the input for the autocomplete to start. Default: 1.
            });
        });

        function addMedicamento() {
            var inputLocal = document.getElementsByClassName("medicamento")[0];
            var clone = inputLocal.cloneNode(true);
            document.getElementsByClassName("listaMedicamento")[0].appendChild(clone);
        }
        function addDroga() {
            var inputLocal = document.getElementsByClassName("droga")[0];
            var clone = inputLocal.cloneNode(true);
            document.getElementsByClassName("listaDroga")[0].appendChild(clone);
        }

        function addNomeDoencaAgudaCronica() {
            var inputLocal = document.getElementsByClassName("inputDoencaAgudaCronica")[0];
            var clone = inputLocal.cloneNode(true);
            document.getElementsByClassName("listaDoencaAgudaCronica")[0].appendChild(clone);
        }
        $(document).on('change', '#usoMedicamento', function () {
            if (this.checked) {
                $('.listaMedicamento').show();
                $('.mesesUsoMedicamento').show();

            } else {
                $('.listaMedicamento').hide();
                $('.mesesUsoMedicamento').hide();
            }

        });

        $(document).on('change', '#usoDrogasIlicitas', function () {
            if (this.checked) {
                $('.listaDroga').show();
                $('.mesesUsoDroga').show();

            } else {
                $('.listaDroga').hide();
                $('.mesesUsoDroga').hide();
            }

        });
        $(document).on('change', '#fumo', function () {
            if (this.checked) {
                $('.descricaoFumo').show();
            } else {
                $('.descricaoFumo').hide();
            }
        });
        $(document).on('change', '#alcool', function () {
            if (this.checked) {
                $('.descricaoAlcool').show();
            } else {
                $('.descricaoAlcool').hide();
            }
        });
        $(document).on('change', '#ultrasonografias', function () {
            if (this.checked) {
                $('.listaUltrassonografias').show();
            } else {
                $('.listaUltrassonografias').hide();
            }
        });
  $('#rastreioPrimeiroTrimestreDsAlterado').trigger('autoresize');
  
    </script>
</body>

</html>
