<!DOCTYPE html>
<html lang="en">

    <head>

    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type = "text/css" href="../materialize/css/materialize.min.css">
        <link rel="stylesheet" type = "text/css" href="../assets/css/barraProgresso.css">

    </head>

    <body>

        <main>
            <center>
                <nav class="nav-extended teal lighten-1">
                    <div class="nav-wrapper">
                        <a href="#" class="brand-logo right">Ficha de atendimento de genética clínica</a>
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                        <ul id="nav-mobile" class="left hide-on-med-and-down">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Sobre</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                        <ul class="side-nav" id="mobile-demo">
                            <li><a href="#">X</a></li>
                            <li><a href="#">Y</a></li>
                            <li><a href="#">Z</a></li>
                        </ul>
                    </div>
                    <div class="nav-content">
                        <ul class="tabs tabs-transparent">
                            <li class="tab"><a class="active" href="#">Identificação</a></li>
                            <li class="tab"><a target="_self" href="{{web_dir}}historiaGestaNeo" >Historia Gestacional e Neonatal</a></li>
                            <li class="tab"><a target="_self" href="{{web_dir}}neuropsico">Evolução Neuropsicomotora</a></li>
                            <li class="tab"><a  target="_self" href="{{web_dir}}historiafamiliar">História Familiar</a></li>
                        </ul>
                    </div>
                </nav>

                <div class="container">

                    <div class="z-depth-1 grey lighten-4 row" >
                        <div class="row">

                            <form class="col s12">
                                <div class="row ">
                                    <div class="input-field col s6">
                                        <i class="material-icons prefix">person</i>
                                        <input id="nomeSobrenome" type="text" class="validate">
                                        <label for="nomeSobrenome">Iniciais de nome e sobrenome</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <i class="material-icons prefix">mode_edit</i>
                                        <input id="codigoProntuario" type="number" class="validate">
                                        <label for="codigoProntuario">Codigo prontuario</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <i class="material-icons prefix">date_range</i>
                                        <input type="text" class="datepicker" id="dataNascimento">

                                        <label for="dataNascimento">Data de Nascimento</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <i class="material-icons prefix">date_range</i>
                                        <input type="text" class="datepicker" id="dataAtendimento">

                                        <label for="dataAtendimento">Data de Atendimento</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s7">
                                        <p> Etnia: </p>
                                        <input class="with-gap"  name="etniaGroup" type="radio" id="euro" />
                                        <label for="euro" class="black-text">Eurodescendente</label>
                                        <input  class="with-gap"  name="etniaGroup" type="radio" id="afro" />
                                        <label for="afro" class="black-text">afrodescendente</label>
                                        <input  class="with-gap"  name="etniaGroup" type="radio" id="Misto" />
                                        <label for="Misto" class="black-text">Misto</label>
                                        <input  class="with-gap"  name="etniaGroup" type="radio" id="Outro" />
                                        <label for="Outro" class="black-text">Outro</label>
                                    </div>
                                    <div class="col s4">

                                        <p> Sexo: </p>
                                        <input class="with-gap"  name="sexo" type="radio" id="fem" />
                                        <label for="fem" class="black-text">Feminino</label>
                                        <input  class="with-gap"  name="sexo" type="radio" id="mas" />
                                        <label for="mas" class="black-text">Masculino</label>
                                    </div>
                                </div>
                                <div class='row'>
                                    

                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">announcement</i>
                                        <input id="motivoConsulta" type="text" class="validate">
                                        <label for="motivoConsulta">Motivo da consulta</label>
                                    </div>

                                </div>
                                <div class='row'>
                                    <div class="col s12">
                                       <p> Local de atendimento:</p>

                                        <input class="with-gap"  name="localAtendimentoGroup" type="radio" id="faculdade" />
                                        <label for="faculdade" class="black-text">Faculdade</label>
                                        <input  class="with-gap"  name="localAtendimentoGroup" type="radio" id="sAntonio" />
                                        <label for="sAntonio" class="black-text">Hospital Santo Antonio</label>
                                        <input  class="with-gap"  name="localAtendimentoGroup" type="radio" id="sClara" />
                                        <label for="sClara" class="black-text">Hospital Santa Clara</label>
                                        <input  class="with-gap"  name="localAtendimentoGroup" type="radio" id="outroHospital" />
                                        <label for="outroHospital" class="black-text">Outro hospital da Santa Casa</label>

                                    </div>


                                </div>

                                <div class='row'>
                                    <div class="col s4 offset-s4">

                                        <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect teal'>Salvar
                                            <i class="material-icons right">send</i></button>
                                    </div>
                                </div>

                            </form>
                        </div>                    


                    </div>
                </div>

            </center>


        </main>

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="../materialize/js/materialize.min.js"></script>
        <script type="text/javascript" src="../assets/js/identificacao.js"></script>
    </body>

</html>
